# Data cleaning

In [1]:
import pandas

pandas.set_option("display.max_columns", None)

## Load the datasets

In [2]:
df_1970_2022 = pandas.read_csv("data/unclean-data/global-population-1970-2022.csv")

df_1970_2022.head()

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00

In [3]:
df_2020 = pandas.read_csv("data/unclean-data/global-population-2020.csv")

df_2020.head()

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

## Merge the datasets

In [4]:
# Rename "Country/Territory" to Country
df_1970_2022 = df_1970_2022.rename(columns={
    "Country/Territory": "Country"
})

df_1970_2022["Country"]

0            Afghanistan
1                Albania
2                Algeria
3         American Samoa
4                Andorra
             ...
229    Wallis and Futuna
230       Western Sahara
231                Yemen
232               Zambia
233             Zimbabwe
Name: Country, Length: 234, dtype: object

In [5]:
# Rename "Country (or dependency)" to Country
df_2020 = df_2020.rename(columns={
    "Country (or dependency)": "Country"
})

df_2020["Country"]

0                 China
1                 India
2         United States
3             Indonesia
4              Pakistan
             ...
230          Montserrat
231    Falkland Islands
232                Niue
233             Tokelau
234            Holy See
Name: Country, Length: 235, dtype: object

In [6]:
# Merge on "Country"
df = df_1970_2022.merge(df_2020, on="Country", how="left")

df.head()

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52,39074280.0,2.33 %,886592.0,60.0,652860.0,-62920.0,4.6,18,25 %,0.50 %
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04,2877239.0,-0.11 %,-3120.0,105.0,27400.0,-14000.0,1.6,36,63 %,0.04 %
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56,43984569.0,1.85 %,797990.0,18.0,2381740.0,-10000.0,3.1,29,73 %,0.56 %
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00,55169.0,-0.22 %,-121.0,276.0,200.0,NaN,N.A.,N.A.,88 %,0.00 %
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00,77287.0,0.16 %,123.0,164.0,470.0,NaN,N.A.,N.A.,88 %,0.00 %

## Clean the dataset

In [7]:
df.sort_values(by="2020 Population", ascending=False).head()

,Rank,CCA3,Country,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
41,1,CHN,China,Beijing,Asia,1425887337,1424929781,1393715448,1348191368,1264099069,1153704252,982372466,822534450,9706961,146.8933,1.0000,17.88,1.440298e+09,0.39 %,5540090.0,153.0,9388211.0,-348399.0,1.7,38,61 %,18.47 %
92,2,IND,India,New Delhi,Asia,1417173173,1396387127,1322866505,1240613620,1059633675,870452165,696828385,557501301,3287590,431.0675,1.0068,17.77,1.382345e+09,0.99 %,13586631.0,464.0,2973190.0,-532687.0,2.2,28,35 %,17.70 %
221,3,USA,United States,"Washington, D.C.",North America,338289857,335942003,324607776,311182845,282398554,248083732,223140018,200328340,9372610,36.0935,1.0038,4.24,3.313410e+08,0.59 %,1937734.0,36.0,9147420.0,954806.0,1.8,38,83 %,4.25 %
93,4,IDN,Indonesia,Jakarta,Asia,275501339,271857970,259091970,244016173,214072421,182159874,148177096,115228394,1904569,144.6529,1.0064,3.45,2.740216e+08,1.07 %,2898047.0,151.0,1811570.0,-98955.0,2.3,30,56 %,3.51 %
156,5,PAK,Pakistan,Islamabad,Asia,235824862,227196741,210969298,194454498,154369924,115414069,80624057,59290872,881912,267.4018,1.0191,2.96,2.216128e+08,2.00 %,4327022.0,287.0,770880.0,-233379.0,3.6,23,35 %,2.83 %

### Columns

#### Dropping columns

In [8]:
df = df.drop([
    "CCA3",
    "Capital",
    "Continent",
    "2022 Population",
    "2015 Population",
    "Area (km²)",
    "Density (per km²)",
    "Growth Rate",
    "World Population Percentage",
    "Population (2020)",
    "Yearly Change",
    "Net Change",
    "Density (P/Km²)",
    "Land Area (Km²)",
    "Urban Pop %",
    "World Share"
],axis=1)

df.head()

,Rank,Country,2020 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Migrants (net),Fert. Rate,Med. Age
0,36,Afghanistan,38972230,28189672,19542982,10694796,12486631,10752971,-62920.0,4.6,18
1,138,Albania,2866849,2913399,3182021,3295066,2941651,2324731,-14000.0,1.6,36
2,34,Algeria,43451666,35856344,30774621,25518074,18739378,13795915,-10000.0,3.1,29
3,213,American Samoa,46189,54849,58230,47818,32886,27075,NaN,N.A.,N.A.
4,203,Andorra,77700,71519,66097,53569,35611,19860,NaN,N.A.,N.A.

#### Renaming columns

In [9]:
df = df.rename(columns={
    "Migrants (net)": "2020 Migrants",
    "Fert. Rate": "2020 Birth Rate",
    "Med. Age": "2020 Median Age"
})

df.head()

,Rank,Country,2020 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,2020 Migrants,2020 Birth Rate,2020 Median Age
0,36,Afghanistan,38972230,28189672,19542982,10694796,12486631,10752971,-62920.0,4.6,18
1,138,Albania,2866849,2913399,3182021,3295066,2941651,2324731,-14000.0,1.6,36
2,34,Algeria,43451666,35856344,30774621,25518074,18739378,13795915,-10000.0,3.1,29
3,213,American Samoa,46189,54849,58230,47818,32886,27075,NaN,N.A.,N.A.
4,203,Andorra,77700,71519,66097,53569,35611,19860,NaN,N.A.,N.A.

#### Creating columns

In [10]:
df[["Decade Change", "Net Change", "2020 Global Percent", "2020 Rank"]] = None

df.head()

,Rank,Country,2020 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,2020 Migrants,2020 Birth Rate,2020 Median Age,Decade Change,Net Change,2020 Global Percent,2020 Rank
0,36,Afghanistan,38972230,28189672,19542982,10694796,12486631,10752971,-62920.0,4.6,18,None,None,None,None
1,138,Albania,2866849,2913399,3182021,3295066,2941651,2324731,-14000.0,1.6,36,None,None,None,None
2,34,Algeria,43451666,35856344,30774621,25518074,18739378,13795915,-10000.0,3.1,29,None,None,None,None
3,213,American Samoa,46189,54849,58230,47818,32886,27075,NaN,N.A.,N.A.,None,None,None,None
4,203,Andorra,77700,71519,66097,53569,35611,19860,NaN,N.A.,N.A.,None,None,None,None

#### Reordering columns

In [11]:
df = df[["Country", "Decade Change", "1970 Population", "1980 Population", "1990 Population", "2000 Population", "2010 Population", "2020 Population", "Net Change", "2020 Global Percent", "2020 Rank", "2020 Median Age", "2020 Birth Rate", "2020 Migrants"]]

df.head()

,Country,Decade Change,1970 Population,1980 Population,1990 Population,2000 Population,2010 Population,2020 Population,Net Change,2020 Global Percent,2020 Rank,2020 Median Age,2020 Birth Rate,2020 Migrants
0,Afghanistan,None,10752971,12486631,10694796,19542982,28189672,38972230,None,None,None,18,4.6,-62920.0
1,Albania,None,2324731,2941651,3295066,3182021,2913399,2866849,None,None,None,36,1.6,-14000.0
2,Algeria,None,13795915,18739378,25518074,30774621,35856344,43451666,None,None,None,29,3.1,-10000.0
3,American Samoa,None,27075,32886,47818,58230,54849,46189,None,None,None,N.A.,N.A.,NaN
4,Andorra,None,19860,35611,53569,66097,71519,77700,None,None,None,N.A.,N.A.,NaN